# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env files
.env
.env.local
.env.*.local
